

<body class="">
   
    <main>
        <div class="breadcrumb-container">
            <div class="container-fluid gx-5">
                <div class="row gx-5">
                    <div class="col-md-12">
                        <ul class="breadcrumb-wrap">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-item menuBtn"><a routerLink="/"  class="menu-link btn-fill" title="go to sign-up" (click)="logOut()" >Logout</a></div>

        <div class="data">
            <span>email:<span>{{data.email}}</span></span>
            <span>username:<span>{{data.username}}</span></span>
        </div>
    

        <div class="storesSlider-container">
            <div class="container-fluid gx-5">
                <div class="row gx-5">
                    <div class="col-lg-12">
                        <div class="owl-carousel stores-carousel owl-theme">
                            <div class="item">
                                <img src="assets/images/banner1.png" alt="" title="" style="width:auto;">
                            </div>
                            <div class="item">
                                <img src="assets/images/banner2.png" alt="" title="" style="width:auto;">
                            </div>
                            <div class="item">
                                <img src="assets/images/banner1.png" alt="" title="" style="width:auto;">
                            </div>
                            <div class="item">
                                <img src="assets/images/banner2.png" alt="" title="" style="width:auto;">
                            </div>
                            <div class="item">
                                <img src="assets/images/banner1.png" alt="" title="" style="width:auto;">
                            </div>
                            <div class="item">
                                <img src="assets/images/banner2.png" alt="" title="" style="width:auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="stores-container">
            <div class="container-fluid gx-5">
                <div class="row gx-5">
                    <div class="col-md-12 gx-4">
                        <div class="themeHeader">
                            <div class="themeHeader-content">
                                <h2 class="themeHeader-title">Stores</h2>
                                <p class="themeHeader-text">Spread the joy of savings and earning real cashback with
                                    your friends and family and earn real bonus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-md-6 col-lg-4 col-xl-3 gx-4">
                        <div class="stores-sidebar-wrap">
                            <div class="stores-sidebar-title">Categories</div>
                            <div class="stores-main-wrap">
                                <div class="categories-list-wrap">
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/all-stores.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">All Stores</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/automobile.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Automobiles</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/appliances.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Appliances</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/office.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Office</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/kids.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Kids</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/entertainment.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Entertainment</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/beauty-health.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Beauty & Health</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/fashion.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Fashion & Stores</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/sports-health.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Sports & Health</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/electronics.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Electronics</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/cosmetics.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Cosmetics</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/accessories.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Accessories</span>
                                    </div>
                                    <div class="categories-item">
                                        <div class="categories-icon">
                                            <img src="assets/images/stores/equipments.svg" alt="" title="">
                                        </div>
                                        <span class="categories-text">Equipments</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8 col-xl-9 gx-4">
                        <div class="d-flex flex-wrap align-items-start justify-content-between mb-3">
                            <ul class="nav nav-tabs tabsStyle-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="all-tab" data-bs-toggle="tab"
                                        data-bs-target="#all" type="button" role="tab" aria-controls="all"
                                        aria-selected="true">All</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="activeCashback-tab" data-bs-toggle="tab"
                                        data-bs-target="#activeCashback" type="button" role="tab"
                                        aria-controls="activeCashback" aria-selected="false">Active Cashback</button>
                                </li>
                            </ul>
                            <div class="search-wrap">
                                <input class="search-inp" id="searchCoupons" type="text" placeholder="Search">
                                <div class="search-box-btn text-center">
                                    <button type="button" class="btn btnthemeFree" data-style="expand-left"
                                        aria-label="search">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="search-cancel">
                                    <button type="button" class="btn btnthemeFree" data-style="expand-left"
                                        aria-label="search">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="searchSuggestion-wrap">
                                    <div class="searchSuggestion-item">Popular Categories</div>
                                    <div class="searchSuggestion-item">Popular Categories</div>
                                    <div class="searchSuggestion-item">Popular Categories</div>
                                    <div class="searchSuggestion-item">Popular Categories</div>
                                    <div class="searchSuggestion-item">Popular Categories</div>
                                </div>

                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option selected disabled>Alphabetical</option>
                                    <option>Alphabetical</option>
                                    <option>Alphabetical</option>
                                    <option>Alphabetical</option>
                                    <option>Alphabetical</option>
                                    <option>Alphabetical</option>
                                    <option>Alphabetical</option>
                                </select>
                            </div>
                        </div>
                        <div class="tab-content tabsStyle-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/adidas.png"
                                                    alt="adidas-logo" title="Adidas Logo">
                                                <div class="storeCard-name">Adidas</div>
                                            </div>
                                            <div class="storeCard-footer">1 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/airbnb.png"
                                                    alt="airbnb-logo" title="AirBnB Logo">
                                                <div class="storeCard-name">AirBnB</div>
                                            </div>
                                            <div class="storeCard-footer">2 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/apple.png" alt="apple-logo"
                                                    title="Apple Logo">
                                                <div class="storeCard-name">Apple Inc.</div>
                                            </div>
                                            <div class="storeCard-footer">2 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/adidas.png"
                                                    alt="adidas-logo" title="Adidas Logo">
                                                <div class="storeCard-name">Adidas</div>
                                            </div>
                                            <div class="storeCard-footer">1 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/airbnb.png"
                                                    alt="airbnb-logo" title="AirBnB Logo">
                                                <div class="storeCard-name">AirBnB</div>
                                            </div>
                                            <div class="storeCard-footer">2 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/apple.png" alt="apple-logo"
                                                    title="Apple Logo">
                                                <div class="storeCard-name">Apple Inc.</div>
                                            </div>
                                            <div class="storeCard-footer">2 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/adidas.png"
                                                    alt="adidas-logo" title="Adidas Logo">
                                                <div class="storeCard-name">Adidas</div>
                                            </div>
                                            <div class="storeCard-footer">1 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/airbnb.png"
                                                    alt="airbnb-logo" title="AirBnB Logo">
                                                <div class="storeCard-name">AirBnB</div>
                                            </div>
                                            <div class="storeCard-footer">2 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/apple.png" alt="apple-logo"
                                                    title="Apple Logo">
                                                <div class="storeCard-name">Apple Inc.</div>
                                            </div>
                                            <div class="storeCard-footer">2 Offer available</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="activeCashback" role="tabpanel"
                                aria-labelledby="activeCashback-tab">
                                <div class="row">
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/apple.png" alt="apple-logo"
                                                    title="Apple Logo">
                                                <div class="storeCard-name">Apple Inc.</div>
                                            </div>
                                            <div class="storeCard-footer">2 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/adidas.png"
                                                    alt="adidas-logo" title="Adidas Logo">
                                                <div class="storeCard-name">Adidas</div>
                                            </div>
                                            <div class="storeCard-footer">1 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/adidas.png"
                                                    alt="adidas-logo" title="Adidas Logo">
                                                <div class="storeCard-name">Adidas</div>
                                            </div>
                                            <div class="storeCard-footer">1 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/airbnb.png"
                                                    alt="airbnb-logo" title="AirBnB Logo">
                                                <div class="storeCard-name">AirBnB</div>
                                            </div>
                                            <div class="storeCard-footer">2 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/airbnb.png"
                                                    alt="airbnb-logo" title="AirBnB Logo">
                                                <div class="storeCard-name">AirBnB</div>
                                            </div>
                                            <div class="storeCard-footer">2 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/apple.png" alt="apple-logo"
                                                    title="Apple Logo">
                                                <div class="storeCard-name">Apple Inc.</div>
                                            </div>
                                            <div class="storeCard-footer">2 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/adidas.png"
                                                    alt="adidas-logo" title="Adidas Logo">
                                                <div class="storeCard-name">Adidas</div>
                                            </div>
                                            <div class="storeCard-footer">1 Offer available</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-xl-4">
                                        <a href="individual-stores.php" class="storeCard-single">
                                            <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                            <div class="storeCard-body">
                                                <img class="storeCard-pic" src="assets/images/offer/adidas.png"
                                                    alt="adidas-logo" title="Adidas Logo">
                                                <div class="storeCard-name">Adidas</div>
                                            </div>
                                            <div class="storeCard-footer">1 Offer available</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-4">
                                    <a href="individual-stores.php" class="storeCard-single">
                                        <div class="storeCard-header">“Upto ₹300 Cashback”</div>
                                        <div class="storeCard-body">
                                            <img class="storeCard-pic" src="assets/images/offer/airbnb.png" alt="airbnb-logo"
                                                title="AirBnB Logo">
                                            <div class="storeCard-name">AirBnB</div>
                                        </div>
                                        <div class="storeCard-footer">2 Offer available</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>





    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

</body>