
<body class="">
	
	<main>

        <div class="breadcrumb-container">
            <div class="container-fluid gx-5">
                <div class="row gx-5">
                    <div class="col-md-12">
                        <ul class="breadcrumb-wrap">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="index.php">Home</a></li>
                            <li class="breadcrumb-item active">Refer & Earn</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <section class="referIn-container">
            <div class="container-fluid gx-5">
                <div class="row gx-5">
                    <div class="col-md-12">
                        <div class="referIn-wrap">
                            <div class="row">
                                <div class="col-md-7 col-lg-8">
                                    <div class="referIn-content">
                                        <h1 class="referIn-title">Invite your friends & get 5% of their cashback!</h1>
                                        <p class="referIn-text">Share the referral link with your friend and let your friend earn Rs. 50 joining bonus and you will earn Rs. 25 referral bonus. Moreover, you will continue to earn 5% of your friend's cashback earning!</p>
                                        <div class="referIn-btnContainer">
                                            <a href="#" class="btn btnView">Invite Friends Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-lg-4 d-none d-md-flex align-items-end">
                                    <img class="referIn-pic" src="assets/images/refer.png" alt="" title="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="howRefer-container">
            <div class="container-fluid gx-5">
                <div class="row gx-5">
                    <div class="col-md-12">
                        <div class="themeHeader">
                            <div class="themeHeader-content">
                                <h2 class="themeHeader-title">How Refer & Earn Works</h2>
                                <p class="themeHeader-text">Follow simple steps and earn unlimited referral bonus.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="howRefer-wrap">
                    <div class="howRefer-card">
                        <div class="howRefer-content">
                            <div class="howRefer-title-wrap">
                                <div class="howRefer-card-title">You Invite A Friend</div>
                            </div>
                            <div class="howRefer-count d-flex align-items-center justify-content-center">01</div>
                            <div class="divider"></div>
                            <div class="arrowStyle">
                                <img src="assets/images/arrow-style.png" title="" alt="">
                            </div>
                            <div class="howRefer-card-text">Invite a friend by an email, social media or WhatsApp.</div>
                        </div>
                    </div>
                    <div class="howRefer-card">
                        <div class="howRefer-content">
                            <div class="howRefer-title-wrap">
                                <div class="howRefer-card-title">Your Friend Joins Us</div>
                            </div>
                            <div class="howRefer-count d-flex align-items-center justify-content-center">02</div>
                            <div class="divider"></div>
                            <div class="arrowStyle">
                                <img src="assets/images/arrow-style.png" title="" alt="">
                            </div>
                            <div class="howRefer-card-text">Your Friend Joins us using referral code and complete verification.</div>
                        </div>
                    </div>
                    <div class="howRefer-card">
                        <div class="howRefer-content">
                            <div class="howRefer-title-wrap">
                                <div class="howRefer-card-title">Friend Shops Online</div>
                            </div>
                            <div class="howRefer-count d-flex align-items-center justify-content-center">03</div>
                            <div class="divider"></div>
                            <div class="arrowStyle">
                                <img src="assets/images/arrow-style.png" title="" alt="">
                            </div>
                            <div class="howRefer-card-text">Shop Online via our website and earn cashback.</div>
                        </div>
                    </div>
                    <div class="howRefer-card">
                        <div class="howRefer-content">
                            <div class="howRefer-title-wrap">
                                <div class="howRefer-card-title">Earn Bonus</div>
                            </div>
                            <div class="howRefer-count d-flex align-items-center justify-content-center">04</div>
                            <div class="divider"></div>
                            <div class="howRefer-card-text">You get Rs. 25 referral bonus and your friend gets Rs. 50 joining bonus.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="whyRefer-container">
            <div class="container-fluid gx-5">
                <div class="row gx-5">
                    <div class="col-md-12">
                        <div class="themeHeader">
                            <div class="themeHeader-content">
                                <h2 class="themeHeader-title">Why Refer Friends?</h2>
                                <p class="themeHeader-text">Benefits of referral</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 col-xxl-3 gx-4">
                        <div class="whyRefer-card style1">
                            <div class="whyRefer-content">
                                <div class="whyRefer-card-title">Help Your Friends</div>
                                <div class="whyRefer-card-text">Let your friends know about earning real cashback on top of all discounts and promo codes.</div>
                            </div>
                            <div class="whyRefer-card-pic">
                                <img src="assets/images/help-friends.png" title="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 col-xxl-3 gx-4">
                        <div class="whyRefer-card style2">
                            <div class="whyRefer-content">
                                <div class="whyRefer-card-title">One-time Bonus</div>
                                <div class="whyRefer-card-text">When your friend join Saveora he/she will earn Rs. 50 as joining bonus and you'll earn Rs. 25 as referral bonus.</div>
                            </div>
                            <div class="whyRefer-card-pic">
                                <img src="assets/images/one-time-bonus.png" title="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 col-xxl-3 gx-4">
                        <div class="whyRefer-card style3">
                            <div class="whyRefer-content">
                                <div class="whyRefer-card-title">5% from Every Transaction</div>
                                <div class="whyRefer-card-text">Every time your friend earn the cashback, you will get 5% of his cashback as referral cashback.</div>
                            </div>
                            <div class="whyRefer-card-pic">
                                <img src="assets/images/cashback.png" title="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 col-xxl-3 gx-4">
                        <div class="whyRefer-card style4">
                            <div class="whyRefer-content">
                                <div class="whyRefer-card-title">Unlimited Earning for Life</div>
                                <div class="whyRefer-card-text">The referral earning in Saveora is unlimited without any upper cap, until the program is lifetime.</div>
                            </div>
                            <div class="whyRefer-card-pic">
                                <img src="assets/images/earning.png" title="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="faqGRT-container">
            <div class="container-fluid gx-5">
                <div class="row gx-5">
                    <div class="col-md-12 gx-4">
                        <div class="themeHeader">
                            <div class="themeHeader-content">
                                <h2 class="themeHeader-title">General Referral Terms</h2>
                                <p class="themeHeader-text">Benefits of referral</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 gx-4 faqGRT-accordion">
                        <div class="accordionCard active">
                            <div class="accordionHead d-flex align-items-center">
                                <div class="accordionHead-title">Why Should I Refer a Friend?</div>
                                <div class="accordion-icon"></div>
                            </div>
                            <div class="accordionContent">
                                <p>You can earn a bonus amount for each friend that signs up using your referral code and fulfils the requirements related to the referral. There are no caps on the number of friends that you can refer, so you can potentially earn an unlimited amount of money for referring friends to our website.</p>
                            </div>
                        </div>
                        <div class="accordionCard">
                            <div class="accordionHead d-flex align-items-center">
                                <div class="accordionHead-title">What Is The Joining/Referral Code Field In The Sign Up Form?</div>
                                <div class="accordion-icon"></div>
                            </div>
                            <div class="accordionContent">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <ul class="campusList">
                                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="accordionCard">
                            <div class="accordionHead d-flex align-items-center">
                                <div class="accordionHead-title">Is there any minimum purchase / cashback condition to be eligible to earn the cashback?</div>
                                <div class="accordion-icon"></div>
                            </div>
                            <div class="accordionContent">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                            </div>
                        </div>
                        <div class="accordionCard">
                            <div class="accordionHead d-flex align-items-center">
                                <div class="accordionHead-title">How much time does it take to see the bonus in my account?</div>
                                <div class="accordion-icon"></div>
                            </div>
                            <div class="accordionContent">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                            </div>
                        </div>
                        <div class="accordionCard">
                            <div class="accordionHead d-flex align-items-center">
                                <div class="accordionHead-title">Is there any duration within which minimum Rs. 500 confirmed cashback to be earned?</div>
                                <div class="accordion-icon"></div>
                            </div>
                            <div class="accordionContent">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                            </div>
                        </div>
                        <div class="accordionCard">
                            <div class="accordionHead d-flex align-items-center">
                                <div class="accordionHead-title">Do I need to earn Rs. 500 CONFIRMED cashback for every user who joins using my referral code to earn the referral bonus for his joining?</div>
                                <div class="accordion-icon"></div>
                            </div>
                            <div class="accordionContent">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                            </div>
                        </div>
                        <div class="accordionCard">
                            <div class="accordionHead d-flex align-items-center">
                                <div class="accordionHead-title">How much cashback I will earn from my friend's cashback earning?</div>
                                <div class="accordion-icon"></div>
                            </div>
                            <div class="accordionContent">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                            </div>
                        </div>
                        <div class="accordionCard">
                            <div class="accordionHead d-flex align-items-center">
                                <div class="accordionHead-title">What will happen to my referral earning when refer & earn program is discontinued?</div>
                                <div class="accordion-icon"></div>
                            </div>
                            <div class="accordionContent">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                            </div>
                        </div>
                        <div class="accordionCard">
                            <div class="accordionHead d-flex align-items-center">
                                <div class="accordionHead-title">I've some other question, which is not listed here, what do I do?</div>
                                <div class="accordion-icon"></div>
                            </div>
                            <div class="accordionContent">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

	

	<!-- <script src="js/bootstrap.min.js"></script> -->
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>

</body>


