<footer class="footer-main">
	<div class="container gx-5">
		<div class="row g-0 justify-content-center">
			<div class="col-xxl-10">
				<div class="subscribe-container">
					<div class="row justify-content-between align-items-center">
						<div class="col-md-6 col-xl-6 col-xxl-6">
							<div class="subscribe-title">Subscribe Now</div>
							<div class="subscribe-text">We value your privacy & assure you that there will be no spams from us in your inbox. By Subscribing with us, Subscribe now & never miss an offer again.</div>
						</div>
						<div class="col-md-6 col-xl-6 col-xxl-5">
							<div class="form-group">
								<input placeholder="Enter your email address here" class="form-control" type="text">
								<button type="submit" class="btn btnSubscribe">
									<svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M3.9668 1.375C3.9668 0.960786 4.30258 0.625 4.7168 0.625H12.2231C12.6373 0.625 12.973 0.960755 12.9731 1.37495L12.9736 8.87495C12.9736 9.28916 12.6378 9.62497 12.2236 9.625C11.8094 9.62503 11.4736 9.28927 11.4736 8.87505L11.4732 3.18438L1.49298 13.1556C1.19996 13.4483 0.725081 13.4481 0.432321 13.1551C0.13956 12.8621 0.139775 12.3872 0.4328 12.0944L10.4113 2.125H4.7168C4.30258 2.125 3.9668 1.78921 3.9668 1.375Z" fill="white"/>
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-lg-5 col-md-4 footer-content-widget">
				<div class="logo-footer mb-4">
					<img src="assets/images/logo-white.svg">
				</div>
				<p class="fcw-text">We help you save money through our comprehensive listing of coupons, offers, deals and discounts from top online brands and websites</p>
				<ul class="socialMedia">
					<li><a href="#"><img src="assets/images/facebook.svg"></a></li>
					<li><a href="#"><img src="assets/images/twitter.svg"></a></li>
					<li><a href="#"><img src="assets/images/instagram.svg"></a></li>
					<li><a href="#"><img src="assets/images/youtube.svg"></a></li>
				</ul>
				<p class="copyRight-text">©2018 - 2022 DealMunafa! All Rights Reserved</p>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-8 footer-menu-widget">
				<div class="row">
					<div class="col-xl-3 col-lg-6 col-md-6 colp-box-wrap">
						<div class="colp-title-box">
							<div class="colp-title">COMPANY</div>
							<span class="user-arrow d-md-none"><i class="icon fa fa-angle-down"></i></span>
						</div>
						<ul class="colp-items">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Terms of Service</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 colp-box-wrap">
						<div class="colp-title-box">
							<div class="colp-title">RESOURCES</div>
							<span class="user-arrow d-md-none"><i class="icon fa fa-angle-down"></i></span>
						</div>
						<ul class="colp-items">
							<li><a href="how-it-works.php">How it works</a></li>
							<li><a href="share.php">Share and Earn</a></li>
							<li><a routerLink="/user-activity">Refer and Earn</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Partners</a></li>
						</ul>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 colp-box-wrap">
						<div class="colp-title-box">
							<div class="colp-title">QUICK LINKS</div>
							<span class="user-arrow d-md-none"><i class="icon fa fa-angle-down"></i></span>
						</div>
						<ul class="colp-items d-md-flex align-items-start flex-wrap">
							<li class="col-md-6 g-0"><a href="#">Rage Coffee</a></li>
							<li class="col-md-6 g-0"><a href="#">Dell</a></li>
							<li class="col-md-6 g-0"><a href="#">Syska</a></li>
							<li class="col-md-6 g-0"><a href="#">QuickHeal</a></li>
							<li class="col-md-6 g-0"><a href="#">Buy XRP</a></li>
							<li class="col-md-6 g-0"><a href="#">WOWscience</a></li>
							<li class="col-md-6 g-0"><a href="#">Mcafee</a></li>
							<li class="col-md-6 g-0"><a href="#">Purplle</a></li>
							<li class="col-md-6 g-0"><a href="#">Rapido</a></li>
							<li class="col-md-6 g-0"><a href="#">Godrej</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 footer-accordion">
				<div class="accordionCard active">
					<div class="accordionHead d-flex align-items-center">
						<div class="accordion-icon"></div>
						<div class="accordionHead-title">About Saveora</div>
					</div>
					<div class="accordionContent">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
					</div>
				</div>
				<div class="accordionCard">
					<div class="accordionHead d-flex align-items-center">
						<div class="accordion-icon"></div>
						<div class="accordionHead-title">Offers</div>
					</div>
					<div class="accordionContent">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
						<ul class="campusList">
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
							<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
						</ul>
					</div>
				</div>
				<div class="accordionCard">
					<div class="accordionHead d-flex align-items-center">
						<div class="accordion-icon"></div>
						<div class="accordionHead-title">Categories</div>
					</div>
					<div class="accordionContent">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
					</div>
				</div>
				<div class="accordionCard">
					<div class="accordionHead d-flex align-items-center">
						<div class="accordion-icon"></div>
						<div class="accordionHead-title">Deals</div>
					</div>
					<div class="accordionContent">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
					</div>
				</div>
				<div class="accordionCard">
					<div class="accordionHead d-flex align-items-center">
						<div class="accordion-icon"></div>
						<div class="accordionHead-title">Store</div>
					</div>
					<div class="accordionContent">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
					</div>
				</div>
				<div class="accordionCard">
					<div class="accordionHead d-flex align-items-center">
						<div class="accordion-icon"></div>
						<div class="accordionHead-title">Cashback</div>
					</div>
					<div class="accordionContent">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-xxl-4 col-xl-5 col-md-6">
				<div class="footer-keyFeatures">
					<div class="keyFeatures-icon">
						<img src="assets/images/highest-cashback.svg" alt="" title="">
					</div>
					<div class="keyFeatures-content">
						<div class="keyFeatures-title">Highest Cashback</div>
						<div class="keyFeatures-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
					</div>
				</div>
			</div>
			<div class="col-xxl-4 col-xl-5 col-md-6">
				<div class="footer-keyFeatures">
					<div class="keyFeatures-icon">
						<img src="assets/images/coupons-discounts.svg" alt="" title="">
					</div>
					<div class="keyFeatures-content">
						<div class="keyFeatures-title">Coupons & Discounts</div>
						<div class="keyFeatures-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
					</div>
				</div>
			</div>
			<div class="col-xxl-4 col-xl-5 col-md-6">
				<div class="footer-keyFeatures">
					<div class="keyFeatures-icon">
						<img src="assets/images/heart.svg" alt="" title="">
					</div>
					<div class="keyFeatures-content">
						<div class="keyFeatures-title">Made with love in India</div>
						<div class="keyFeatures-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

